.button {
    border-radius: 5px;
    margin-top: 30px;
    color: #f2f2f2;
    font-size: 16px;
    cursor: pointer;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button:hover {
    opacity: 0.8;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
}

.width100 {
    width: 100%;
}

.error {
    background: #FF6347;
    border-color: #FF6347;
}

.success {
    background: #3CB371;
    border-color: #3CB371;
}

.common {
    background: #3498db;
    border-color: #3498db;
}

.loading {
    opacity: 0.7;
    cursor: not-allowed;
}

.small {
    padding: 6px 1px;
}

.medium {
    padding: 15px 5px;
}

.large {
    padding: 21px 7px;
}

.iconLeft {
    padding-right: 4px;
}

.iconRight {
    padding-left: 4px;
}

.transparent {
    color: transparent;
}
